# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Django migrations
*/migrations/*

# Ignore environment variables
.env

# Ignore virtual environment directories
venv/
.env/

# Ignore database files (SQLite)
db.sqlite3



# Ignore the PyCharm project files
.idea/

# Ignore VSCode project files
.vscode/

# Ignore system files
.DS_Store

ecomm_backend/scripts/
shop/management/commands/